@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
} */
.lato{
    font-family: "Lato", sans-serif;
}
.roboto{
    font-family: "Roboto Condensed", sans-serif;
}
.btnnav{
    border-bottom:1px solid #52da52;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 7px;
    color: black;
    
}
.bg-nav{
    background-color: #52da52;
    position: sticky;
    top: 0px;

}
.logo-img{
    height: 70px; 
    
    width: auto;
    margin-right: 30px;
    margin-left: 0px!important
    
}
.btnnav:hover{
    animation: border 0.3s ease-in forwards ;
    border-bottom:1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: #fff !important;
}
@keyframes border {
    from{
        border-bottom:1px solid #AD88C6;
       color: black;
    }
    to{
        border-bottom:1px solid white;
        border-radius: 50% ;
        color: white;
    }
}
.nav{
    position: sticky;
    top: 0;
    margin-top: 0;
    width: 100%;
    font-family: "Lora", serif;
    height: 65px;
    display: flex;
    align-items: center;
}
.footer{
   background-color: #52da52;
}
.footer-links{
    color:black !important;
    font-family:Georgia, 'Times New Roman', Times, serif}
   
    
.home_heading{
    font-family:Georgia, 'Times New Roman', Times, serif
}
@media only screen and (max-width: 768px) {
    .media{
        flex-direction: column;
    }
   
}
.scale:hover{
scale: 1.02;
}
.lg-react-element{
    column-count: 3;
    column-gap: 10px;
}
.gallery img{
    max-width: 100%;
    display: block;
    padding: 5px 0;
    border-radius: 20px;
    transition: transform 0.2s;
}
.gallery img:hover{
    filter: opacity(.9);
    scale: 1.01;
}
@media only screen and (max-width: 700px) {
    .lg-react-element{
        column-count: 2;
        column-gap: 10px;
    }
}

@media only screen and (max-width: 890px) {
    li {
        padding: 0px !important
    }
}
.shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.slider-card-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
.footer-shadow{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}